.custom-input-container {
	display: flex;
	height: 2rem;
	input {
		padding: 5px;
		width: 93%;
		border-radius: 5px 0px 0px 5px;
		-moz-border-radius: 5px 0px 0px 5px;
		-webkit-border-radius: 5px 0px 0px 5px;
		border: 1px solid #bfbfbf;
	}
	.input-button {
		padding: 5px;
		min-width: 7%;
		border-radius: 0 5px 5px 0;
		border-right: 1px solid #bfbfbf;
		border-top: 1px solid #bfbfbf;
		border-bottom: 1px solid #bfbfbf;
		color: #969696;
		cursor: pointer;
	}
}

.appointment-tooltip {
	position: relative;
	display: inline-block;

	.appointment-tooltip__text {
		visibility: hidden;
		opacity: 0;
		width: 250px;
		background-color: #555;
		color: #fff;
		text-align: center;
		border-radius: 6px;
		padding: 5px 0;
		transition-delay: 1s;
		transition-duration: 0.5s;
		transition-property: opacity, visibility;
		transition-timing-function: ease-in-out;

		// position
		position: absolute;
		top: -5px;
		left: 105%;
		z-index: 1;
	}

	&:hover .appointment-tooltip__text {
		visibility: visible;
		opacity: 1;
	}
}

.datepicker-tooltip {
	position: relative;
	display: inline-block;

	.datepicker-tooltip__text {
		visibility: hidden;
		opacity: 0;
		width: 250px;
		background-color: #555;
		color: #fff;
		text-align: center;
		border-radius: 6px;
		padding: 5px 0;
		transition-delay: 0.3s;
		transition-duration: 0.5s;
		transition-property: visibility, opacity;
		transition-timing-function: ease-in-out;

		// position
		position: absolute;
		top: -2px;
		left: 115%;
		z-index: 1;
	}

	&:hover .datepicker-tooltip__text {
		visibility: visible;
		opacity: 1;
	}
}

.left-bar-container__block__bottom .react-datepicker .react-datepicker__day--selected {
	border-radius: 50%;
}

.react-datepicker__day--highlight-appointments {
	background-color: lightblue;
	color: black;
}
