.scroll-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid rgb(170, 170, 170);
  height: calc(100vh - 110px);
  overflow-x: auto;
  overflow-y: hidden;

  .main-container__schedule {
    display: flex;
  }
  .empty-data {
    width: 100%;
    align-self: center;
  }

  .header-item {
    margin: 1rem 0 0 1rem;
    width: 200px;
  }
}
